:host ::ng-deep .mat-form-field {   
    width: 100%;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    width: 100%;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    pointer-events: none !important;
}

:host ::ng-deep .mat-table {
    width: 100%;
}

.default-color {
    color: #2962ff;
}

.fz-24 {
    font-size: 24px;
}

.fz-18 {
    font-size: 18px;
}

.fw-b {
    font-weight: bold;
}

.w-100 {
    width: 100px;
}

.w-70 {
    width: 70px;
}

.mt-10 {
    margin-top: 10px;    
}

.mt-20 {
    margin-top: 20px;    
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.fl-r {
    float: right;
}