<div class="container">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-6">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
        </form>
    </div>
    <div class="p-col-6">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
        </form>
    </div>
    <div class="p-field p-col-12">
      <button mat-raised-button color="primary" style="width: 100%;">Primary</button>
    </div>
  </div>
</div>
