.container {
    overflow-x: hidden;
}

.w-100 {
    width: 100%;
}

.mt-50 {
    margin-top: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-75 {
    margin-left: 75px;
}

.ml-100 {
    margin-left: 100px;
}


.ml-120 {
    margin-left: 120px;
}

/* For devices like an Android e iOS, examples: 
    * MotoG4;
    * iPhone 6/7/8;
*/
@media only screen and (min-device-width: 0px) and (max-device-width: 376px) and (orientation: portrait) {
    .account-circle {
        margin-left: 125px;
        margin-top: 50px;
    }
    
    .img-account-circle {
        color: #607d8b;
        font-size: 100px;
    }
}

/* For devices like an Android e iOS, examples: 
    * Pixel 2;
*/
@media only screen and (min-device-width: 377px) and (max-device-width: 427px) and (orientation:portrait) {
    .account-circle {
        margin-left: 0px; /* value for example */
        margin-top: 50px;
    }
    
    .img-account-circle {
        color: #607d8b;
        font-size: 100px;
    }
}
